@{
    ViewData["Title"] = "Home Page";
    var curentTime = DateTime.Now.ToString("F",System.Globalization.CultureInfo.CurrentCulture);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <span>@DateTime.Now.ToString()</span>


</div>
